@font-face {
  font-family: "BoldPixels";
  src: url("assets/fonts/BoldPixels.ttf");
}

:root {
  --light-green: #9bbc0f;
  --mid-green: #306230;
  --dark-green: #0f380f;
  --dark: #031103;
}

body {
  font-family: "BoldPixels";
  font-size: 24px;
}

.latest-work {
  color: var(--mid-green);
}

#game-title {
  background-color: var(--dark-green);
  color: var(--light-green);
  text-align: center;
  text-shadow: 4px 2px 0px var(--mid-green);
  font-size: 64px;
}

.log-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.log-entry {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
  background: var(--light-green);
  border: 4px solid var(--mid-green);
  padding: 20px;
  box-shadow: 8px 8px 0px var(--mid-green);
}

.log-clip img,
.log-clip video {
  width: 100%;
  border: 2px solid var(--dark-green);
}

@media (max-width: 600px) {
  .log-entry {
    grid-template-columns: 1fr;
  }
}
