@font-face {
  font-family: "BoldPixels";
  src: url("assets/fonts/BoldPixels.ttf");
}

:root {
  --light-green: #9bbc0f;
  --mid-green: #306230;
  --dark-green: #0f380f;
  --dark: #031103;
}

body {
  font-family: "BoldPixels";
  font-size: 24px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 20px;
  height: 70vh;
  margin-top: 20px;
}

#game-title {
  background-color: var(--dark-green);
  color: var(--light-green);
  text-align: center;
  text-shadow: 4px 2px 0px var(--mid-green);
  font-size: 64px;
}

.game-container iframe {
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-green);
  background: var(--dark);
}

.commit-log {
  background: var(--light-green);
  border: 4px solid var(--mid-green);
  padding: 15px;
  overflow-y: auto;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .dashboard {
    grid-template-columns: 1fr;
    height: auto;
  }
}
